body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/puffles.png');
    background-size: cover;
    color: white;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    font-size: 24px;
}

label {
    display: block;
}

input {
    display: block;
    width: 100%;
    min-height: 2em;
    margin: 0.5em 0;
    padding-left: 4px;
}

select {
    display: block;
    min-height: 2em;
    margin: 0.5em 0;
}

input[type="text"], input[type="email"] {
    max-width: 20rem;
}

input[type="number"] {
    max-width: 3rem;
}

#information, fieldset {
    display: block;
    width: 50vw;
    max-width: 1000px;
    max-height: 1000px;
    margin: 1em auto;
    border-radius: 10px;
    border-width: 0;
    background-color: darkslateblue;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

h2 {
    text-align: center;
}